[submodule "submodules/s2-geometry-library-csharp"]
	path = submodules/s2-geometry-library-csharp
	url = https://github.com/zone117x/s2-geometry-library-csharp.git
	branch = master
[submodule "submodules/pokemongo-encrypt-sharp"]
	path = submodules/pokemongo-encrypt-sharp
	url = https://github.com/zone117x/pokemongo-encrypt-sharp.git
	branch = master
[submodule "submodules/GPSOAuthSharp"]
	path = submodules/GPSOAuthSharp
	url = https://github.com/zone117x/GPSOAuthSharp.git
	branch = master
